# IntelliJ IDEA
.idea/

# Compiled class file
*.class

# Log files
*.log

# Bytecode
*.jar

# IntelliJ Project Files
*.iml
.idea_modules/

# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Gradle
build/

# User-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# User-specific IDE settings
.idea/codeStyles/
.idea/scope/
.idea/vcs.xml
.idea/editor.xml

# algs4.jar
week1/ThreeSum/algs4-data/largeG.txt
week1/ThreeSum/algs4-data/largeT.txt
week1/ThreeSum/algs4-data/largeEWG.txt
week1/ThreeSum/algs4-data/leipzig1M.txt
week1/ThreeSum/algs4-data/largeDG.txt
week1/ThreeSum/algs4-data/largeEWD.txt